<div class="jumbotron">
  <h1>Find a Ride</h1>
  <p>Save the environment and make new friends!</p>
  <p>
    <a href="#" class="btn btn-success btn-lg" role="button">
      <span class="glyphicon glyphicon-plus"></span>
      Create New Ride
    </a>
  </p>
</div>

<section id="react-app"></section>
