.dropdown-menu {
  width: 220px;
}

.dropdown-menu li{
  height: 35px;
}

.badge{
  background-color: #e74c3c;
}

#flash-bar{
  z-index: 10;
  position: absolute;
  width: 100%;
  top: 50px;
}

.navbar{
  margin-bottom: 50px;
}

.notification-item {
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

.notification-item:hover{
  background-color: #d9534f;
}

.notification-delete{
  color: white;
}

tr {
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

tr:hover {

}

.is-saved{
  background-color: #2ecc71;
}
